#header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    background:rgb(60, 60, 73);
    top:0;
}
h4{
    cursor: pointer;
    padding-right: 50%;
    font:(300 15px Roboto,sans-serif);
    line-height: 22.5px;
    color:  rgb(255, 255, 255);
}
.drop-menu{
    display: none;
    padding-left:5px;
   background-color: white;
}
.menu-item{
    display:inline-block;
    justify-content: space-around;
    margin-right: 20px;
    font:300 15px Roboto,sans-serif;
    line-height: 22.5px;
    color:rgb(255, 255, 255);
}

.drop-menu-item{
    margin-top:10px;
    font:300 14.4px Roboto, sans-serif;
    line-height: 21.6px;
    color: black;
} 
.menu-item,
.drop-menu-item{
    list-style: none;
}
.menu-item:hover .drop-menu{
    display:flex;
    flex-direction:column;
    position:absolute;
    margin-left:-40px; 
   background-color:white;
}
.drop-menu-item:hover{
    background-color: rgb(145, 146, 162);
}
 .menu-item:hover{
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    text-decoration: underline;
} 
.fa-bars,
.fa-shopping-cart,
.fa-envelope,
.fa-user{
    margin-right: 10px;
}
/*table*/

table td {
    font-size: 14px;
    font-weight: 300;
    padding-left:12px ;
    padding-right: 12px;
}
.center{ 
    margin-right:auto;
    margin-left: auto;
}  
.entete{
    font:400 14.4px Roboto, sans-serif;
    line-height: 21.6px;
    color: rgb(33, 37, 41);
}
.produit1,
.produit2,
.produit3, h5{
    font: 400 20px Roboto, sans-serif;
    line-height: 22px;
    color:rgb(33, 37, 41);
}
.produit1,
.produit2,
.produit3, h6{
    font: 300  14.4px Roboto, sans-serif;
    line-height:  21.6px;
    color:rgb(134, 142, 150);
}
 th,td {
    border-bottom:solid 2px gray;
}
h3{
    display: block;
    width: 70px;
    margin:auto;
}
table{
    border-collapse: collapse;
}
.heart{
    font-size: 15px;
    cursor: pointer;
}
button{
    font-size: 10px;
    font-weight: 400;
    background-color:pink;
    border:radios 5px;
    cursor: pointer;
}
/*footer*/
footer{
    background-color: rgb(60, 60, 73);
    display:flex;
    justify-content: space-around; 
}
.foot-end{
    font: 300  14.4px Roboto, sans-serif;
    line-height:  50px;
    color:rgb(255, 255, 255);  
    text-align:center;
    display:flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
